/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*idea*
D:/xcCode/xcEduService01/.idea/
D:/xcCode/xcEduService01/.idea/*
./.idea/*
.idea/*
.idea\\*.xml
LICENSE
.github/
opt/*
target/*
*.github
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
